{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>
    /* set background image for the main page */
    .md-container {
        background-image: url("/assets/images/moving-firefly.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center, 50%, 50%;
    }
    [data-md-color-scheme=slate] .md-container {
        background-image: url("/assets/images/moving-firefly.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center, 50%, 50%;
    }

    /* hide markdown content section */
    .md-content {
        display: none;
    }

    /* prevent unused main section from taking up space */
    .md-main {
        flex-grow: 0;
    }

    /* ensure our primary div takes up the full screen, and align its contents in the center */
    .mdx-container {
        flex-grow: 1;
        display: grid;
        align-items: center;
    }

    /* styling for hero content */
    .mdx-hero {
        display: block;
        padding-top: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mdx-hero h1 {
        margin-bottom: 1rem;
        color: currentcolor;
        font-weight: 700;
    }
    .mdx-hero__content {
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .mdx-hero__video {
        max-width: 38rem;
        margin-left: auto;
        margin-right: auto;
    }

    /* styles for action buttons */
    .mdx-hero .md-button {
        margin: .3rem .25rem;
    }
    .mdx-hero .md-button .mdx-button-icon {
        padding-left: .3rem;
    }
    .mdx-hero .md-button--primary {
        background-color: var(--md-accent-fg-color) !important;
        border-color: var(--md-accent-fg-color);
        color: white !important;
    }
    .mdx-hero .md-button--secondary {
        background-color: var(--md-accent-fg-color--transparent) !important;
        border-color: var(--md-primary-fg-color--light);
        color: var(--md-primary-fg-color--light) !important;
    }
    .mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
        border-color: darkslategrey;
    }
    [data-md-color-scheme=slate] .mdx-hero .md-button:focus, [data-md-color-scheme=slate] .mdx-hero .md-button:hover {
        border-color: white;
    }

    /* styling for video */
    .mdx-hero__video {
        width: auto;
    }
    .mdx-hero__video_inner {
        position: relative;
        padding-bottom: 56.25%; /* 56.25% == 16:9 */
        padding-top: 25px;
    }
    .mdx-hero__video_inner iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<!-- Hero for Home Page -->
<div class="mdx-container">
  <div class="mdx-hero md-typeset">

    <!-- Hero Content-->
    <div class="mdx-hero__content">
      <div class="mdx-hero__content_inner">
        <h1>Compose your open ML platform</h1>
        <p>
          <b>deployKF</b> is your open-source helper for deploying MLOps tools on <a href="https://kubernetes.io/" target="_blank" rel="noopener">Kubernetes</a>,
          with support for <a href="https://www.kubeflow.org/docs/components/" target="_blank" rel="noopener">Kubeflow Components</a> and more
        </p>
        <div class="mdx-actions">
          <a href="{{ 'guides/quickstart'| url }}"
             title="Quickstart Guide"
             class="md-button md-button--primary"
          >
            Get Started
            <span class="twemoji mdx-button-icon">
              {% include ".icons/fontawesome/solid/plane-departure.svg" %}
            </span>
          </a>
          <a href="{{ config.repo_url | url }}"
             title="Github Repository"
             class="md-button md-button--secondary"
          >
            Source Code
            <span class="twemoji mdx-button-icon">
              {% include ".icons/fontawesome/brands/github.svg" %}
            </span>
          </a>
        </div>

      </div>
    </div>

    <!-- Hero Video -->
    <div class="mdx-hero__video">
      <div class="mdx-hero__video_inner">
        <iframe
            src="https://www.youtube.com/embed/1fueZCTYkpA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
      </div>
    </div>

  </div>
</div>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}