{% extends "base.html" %}

<!-- SEO Data -->
{% block extrahead %}
{% include "partials_custom/seo_data.html" %}
{% endblock %}

<!-- Announcement Bar/Banner -->
{% block announce %}
<a class="md-banner__content" href="https://www.aranui.solutions/deploykf">
  <div class="md-banner__pill">New</div>
  <div class="md-banner__text">
    <strong>deployKF Enterprise</strong> is now in early access!
    <br class="md-banner__desktop-only">
    <span class="md-banner__text-secondary">
      Learn More &rarr;
    </span>
  </div>
</a>
{% endblock %}