{% extends "base.html" %}

<!-- SEO Data -->
{% block extrahead %}
{% include "partials_custom/seo_data.html" %}
{% endblock %}

<!-- Announcement Bar/Banner -->
{% block announce %}
<b>ANNOUNCEMENT: </b>
<a class="md-banner__link" href="https://github.com/deployKF/deployKF/releases/tag/v0.1.4">
  We are pleased to introduce
  <span class="twemoji">🚀</span>
  <strong>deployKF v0.1.4</strong>
  <span class="twemoji">🚀</span>
  which comes with fixes for many issues, full support for Azure AKS, and much more!
</a>
{% endblock %}