{% extends "base.html" %}

<!-- SEO Data -->
{% block extrahead %}
{% include "partials_custom/seo_data.html" %}
{% endblock %}

<!-- Announcement Bar/Banner -->
{% block announce %}
<span class="twemoji">🚀</span>
<b>ANNOUNCEMENT</b>
<span class="twemoji">🚀</span>
<br>
<p>
  <a class="md-banner__link" href="https://github.com/deployKF/deployKF/releases/tag/v0.1.5">
    <strong>deployKF 0.1.5 is now available</strong>,
  </a>
  featuring <strong>Kubeflow Pipelines v2</strong>, and much more!
</p>
{% endblock %}