mkdocs-material==9.2.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-macros-plugin==1.0.4
mkdocs-minify-plugin==0.7.1
mkdocs-redirects==1.2.1
mkdocs-table-reader-plugin==2.0.1
cairosvg==2.7.1
pillow==10.0.0