/* set text color */
.md-banner {
    color: var(--md-footer-fg-color--light);
}

/* set link color and margin */
.md-banner a {
    color: #6c91d5;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}