[data-md-color-primary="deploykf-primary"] {
    --md-primary-fg-color: #294275;
    --md-primary-fg-color--light: #697A9E;
    --md-primary-fg-color--lighter: #8394B8;
    --md-primary-fg-color--dark: #1c2e51;
    --md-primary-fg-color-transparent: #294275b3;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
}

[data-md-color-accent="deploykf-accent"] {
    --md-accent-fg-color: #fd7e14;
    --md-accent-fg-color--transparent: rgba(253, 126, 20, 0.05);
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

[data-md-color-scheme=slate][data-md-color-primary="deploykf-primary"] {
    --md-typeset-a-color: #6c91d5;

    /* default text is too dark */
    --md-default-fg-color: hsla(var(--md-hue), 15%, 95%, 0.86);

    /* default background is too dark */
    --md-default-bg-color: hsla(var(--md-hue), 15%, 17%, 1);

    /* default code is too light */
    --md-code-bg-color: hsla(var(--md-hue), 14%, 13%, 1);

    /* header text is to bright */
    .md-header {
        color: hsla(var(--md-hue),15%,90%,1.0);
    }

    /* make nav section less bold */
    @media screen and (min-width: 76.25em) {
        .md-nav--primary {
            opacity: 0.78;
        }
    }

    /* make toc section less bold */
    @media screen and (min-width: 60em) {
        .md-nav--secondary {
            opacity: 0.78;
        }
    }

    .md-button--secondary {
        color: var(--md-typeset-a-color);
        border-color: var(--md-primary-fg-color--light);
        background-color: var(--md-accent-fg-color--transparent) !important;
    }

    .md-button--secondary:focus, .md-button--secondary:hover {
        color: var(--md-accent-fg-color);
        border-color: var(--md-accent-fg-color);
    }

}

[data-md-color-scheme=default][data-md-color-primary="deploykf-primary"] {
    --md-typeset-a-color: #4d5fc4;

    /* make nav section less bold */
    @media screen and (min-width: 76.25em) {
        .md-nav--primary {
            opacity: 0.78;
        }
    }

    /* make toc section less bold */
    @media screen and (min-width: 60em) {
        .md-nav--secondary {
            opacity: 0.78;
        }
    }

    .md-button--secondary {
        color: var(--md-typeset-a-color);
        border-color: var(--md-primary-fg-color--light);
        background-color: var(--md-accent-fg-color--transparent) !important;
    }

    .md-button--secondary:focus, .md-button--secondary:hover {
        color: var(--md-accent-fg-color);
        border-color: var(--md-accent-fg-color);
    }
}