/* ensure our primary div takes up the full screen */
.mdx-container {
    display: flex;
    flex-grow: 1;
}

/* set background image for the main page */
.mdx-container {
    background-image: url("/assets/images/moving-firefly-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* styling for hero content */
.mdx-hero {
    display: flex;
    flex-grow: 1;
}

.mdx-hero .mdx-hero__content {
    margin: auto;
    text-align: center;
}

.mdx-hero .mdx-hero__content_inner {
    padding: 2.0rem 1.0rem;
    max-width: 25rem;
}

.mdx-hero .mdx-hero__tag-line {
    margin-bottom: 0.0rem;
    padding-bottom: 1.0rem;
    color: var(--md-typeset-color);
    font-weight: 700;
    font-size: 2.4rem;
}

@media screen and (max-width: 60em) {
    .mdx-hero .mdx-hero__tag-line {
        font-size: 2.2rem;
    }
}

[data-md-color-scheme=slate] .mdx-hero .mdx-hero__tag-line {
    color: hsla(var(--md-hue), 15%, 93%, 0.95);
}

[data-md-color-scheme=slate] .mdx-hero .mdx-hero__tag-description {
    color: hsla(var(--md-hue), 15%, 93%, 0.90);
}

.mdx-hero .mdx-hero__tag-highlight {
    background: linear-gradient(60deg, #fd7e14, #014bd1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 2.7rem;
    transition: opacity 0.5s;
}

@media screen and (max-width: 60em) {
    .mdx-hero .mdx-hero__tag-highlight {
        font-size: 2.5rem;
    }
}

.mdx-hero .mdx-hero__tag-highlight--fade-out {
    opacity: 0;
}

.mdx-hero .mdx-hero__tag-description {
    border-top: 0.05rem solid var(--md-default-fg-color--lightest);
    border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
    padding-top: 0.75rem;
}

.mdx-hero .mdx-hero__tag-description .mdx-hero__tag-description_section {
    padding-bottom: 1.0rem;
}

.mdx-hero .mdx-hero__footnote {
    opacity: 0.6;
    font-size: 70%
}

@media screen and (min-width: 60em) {
    .mdx-hero .mdx-hero__actions {
        padding-top: 1.25rem;
        padding-bottom: 1.0rem;
    }

    .mdx-hero .mdx-hero__actions .mdx-hero__button-wrapper {
        padding: 0.3rem 0.25rem;
        display: inline-block;
    }

    .mdx-hero .mdx-hero__actions .md-button {
        width: 10rem;
    }
}

@media screen and (max-width: 60em) {
    .mdx-hero .mdx-hero__actions {
        padding-top: 1.0rem;
        padding-bottom: 0.5rem;
    }

    .mdx-hero .mdx-hero__actions .mdx-hero__button-wrapper {
        padding: 0.3rem 2rem;
        display: block;
    }

    .mdx-hero .mdx-hero__actions .md-button {
        width: 100%;
    }
}

.mdx-hero .mdx-hero__actions .md-button .mdx-button-icon {
    padding-left: .3rem;
}

[data-md-color-scheme=default] .mdx-hero .mdx-hero__actions .md-button--primary {
    border-color: var(--md-primary-fg-color);
    color: white !important;
}

[data-md-color-scheme=slate] .mdx-hero .mdx-hero__actions .md-button--primary {
    border-color: var(--md-primary-fg-color--light);
    color: hsla(232, 75%, 95%, 1) !important;
}

.mdx-hero .mdx-hero__actions .md-button--primary-left {
    background: linear-gradient(60deg, rgba(1, 75, 209, 0.8), rgba(253, 126, 20, 0.85));
}

.mdx-hero .mdx-hero__actions .md-button--primary-right {
    background: linear-gradient(60deg, rgba(253, 126, 20, 0.85), rgba(1, 75, 209, 0.8));
}

.mdx-hero .mdx-hero__actions .md-button--secondary {
    background: var(--md-accent-fg-color--transparent);
    color: var(--md-primary-fg-color--light) !important;
}

[data-md-color-scheme=default] .mdx-hero .mdx-hero__actions .md-button--secondary {
    border-color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme=slate] .mdx-hero .mdx-hero__actions .md-button--secondary {
    border-color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme=default] .mdx-hero .mdx-hero__actions .md-button:focus,
[data-md-color-scheme=default] .mdx-hero .mdx-hero__actions .md-button:hover {
    border-color: white;
}

[data-md-color-scheme=slate] .mdx-hero .mdx-hero__actions .md-button:focus,
[data-md-color-scheme=slate] .mdx-hero .mdx-hero__actions .md-button:hover {
    border-color: white;
}