/*
========================================
Banner Styling
========================================
*/

.md-banner__inner {
    color: var(--md-footer-fg-color--light);
}

.md-banner .md-banner__inner {
    font-size: 0.75rem;
}

.md-banner .md-banner__inner .md-banner__link {
    color: #6c91d5;
}

.md-banner .md-banner__inner .md-banner__link:hover {
    color: #fd7e14;
}

/*
========================================
Header Styling
========================================
*/

@media screen and (min-width: 76.1875em) {
    .md-header__button.mdx-logo {
        display: none;
    }
}

.md-header__button.mdx-logo {
    padding-left: 0;
    margin-left: 0;
}

.md-header__button.mdx-logo img, .md-header__button.mdx-logo svg {
    fill: currentcolor;
    display: block;
    height: 1.2rem;
    width: auto;
}

/*
========================================
Table Styling
========================================
*/

/* Table Borders */
.md-typeset__table th,
.md-typeset__table td {
    border: 0.05rem solid var(--md-typeset-table-color);
}

/* Ensure tables don't overflow page on mobile */
.md-typeset__table {
    max-width: 100%;
}

/* A special wrapper class for tables to make them have less padding */
.use-compact-tables .md-typeset__table table:not([class]) td {
    padding: 0.7em 0.7em;
}

/* A special wrapper class for the kubeflow vs deploykf table */
.comparison-table td, .comparison-table th {
    text-align: center !important;
}

.comparison-table table {
    table-layout: fixed;
}

/*
========================================
Navigation Styling
========================================
*/

.md-nav--primary > .md-nav__title {
    height: auto;
}

.md-nav--primary > .md-nav__title {
    padding-bottom: 1.0rem;
}

/* add visual separation between nav sections */
@media screen and (min-width: 76.25em) {
    [data-md-color-scheme=default] li.md-nav__item--section.md-nav__item--nested > label:first-of-type {
        padding: 0 0.2em 0.05em 0.2em;
        color: var(--md-primary-fg-color--light) !important;
        border-bottom: 0.1rem dotted var(--md-primary-fg-color--light);
    }

    [data-md-color-scheme=slate] li.md-nav__item--section.md-nav__item--nested > label:first-of-type {
        padding: 0 0.2em 0.05em 0.2em;
        color: var(--md-primary-fg-color--lighter) !important;
        border-bottom: 0.1rem dotted var(--md-primary-fg-color--lighter);
    }
}

/*
========================================
Footer Styling
========================================
*/
.md-footer .md-typeset .footer-link {
    color: var(--md-typeset-a-color);
}

/*
========================================
Button Styling
========================================
*/

a.md-button {
    margin-left: 0.4rem;
    margin-bottom: 0.5rem;
}

/*
========================================
MD Header Styling
========================================
*/

.md-typeset h2 {
    font-weight: 400;
}

/*
========================================
Star-History Styling
========================================
*/

.star-history_image {
    width: 30rem;
    border-radius: 0.3em;
    border: 0.05rem solid var(--md-typeset-table-color);
}

[data-md-color-scheme=slate] .star-history_image {
    opacity: 0.7;
}