/*
========================================
Banner Styling
========================================
*/

.md-banner {
    color: var(--md-footer-fg-color--light);
    background-color: #1D1D26 !important;
}

.md-banner .md-banner__inner {
    font-size: 0.75rem;
}

.md-banner .md-banner__inner a {
    color: #6c91d5 !important;
}

/*
========================================
Header Styling
========================================
*/

@media screen and (min-width: 76.1875em) {
    .md-header__button.mdx-logo {
        display: none;
    }
}

.md-header__button.mdx-logo {
    padding-left: 0;
    margin-left: 0;
}

.md-header__button.mdx-logo img, .md-header__button.mdx-logo svg {
    fill: currentcolor;
    display: block;
    height: 1.2rem;
    width: auto;
}

/*
========================================
Table Styling
========================================
*/

/* Table Borders */
.md-typeset__table th,
.md-typeset__table td {
    border: 0.05rem solid var(--md-typeset-table-color);
}

/*
========================================
Navigation Styling
========================================
*/

.md-nav--primary > .md-nav__title {
    height: auto;
}

.md-nav--primary > .md-nav__title {
    padding-bottom: 1.0rem;
}