/*
========================================
Navigation Styling
========================================
*/

/* "deployKF Enterprise" nav link */
.dkf-enterprise {
    border-radius: 6px;
    .dkf-enterprise_inner {
        padding: 0.5rem;
    }
}

/* mobile (light mode) */
.md-sidebar .dkf-enterprise {
    font-size: 105%;
    color: #22b96e;
    border: 2px solid #22b96e;
}
.md-sidebar .dkf-enterprise:hover {
    color: var(--aranui-green);
    border: 2px solid var(--aranui-green);
}

/* mobile (dark mode) */
[data-md-color-scheme=slate] .md-sidebar .dkf-enterprise {
    opacity: 0.7;
    color: var(--aranui-green);
    border: 2px solid var(--aranui-green);
}
[data-md-color-scheme=slate] .md-sidebar .dkf-enterprise:hover {
    opacity: 1;
}

/* desktop (light & dark mode) */
.md-header .dkf-enterprise {
    color: var(--aranui-green);
    border: 2px solid var(--aranui-green);
}

/*
========================================
Banner Styling
========================================
*/

.md-banner {
    background: linear-gradient(150deg, var(--deploykf-orange) 40%, var(--deploykf-blue) 60%);
}

.md-banner__inner .md-banner__content {
    color: #ffffff;
    font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.md-banner__inner .md-banner__content:hover, .md-banner__inner .md-banner__content:focus {
    /* slightly darken the white color on hover */
    color: #e4e4e4;

    .md-banner__pill {
        background-color: #e4e4e4;
    }
}

.md-banner__inner .md-banner__pill {
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;

    padding: 0.09rem 0.6rem;
    margin-right: 0.65rem;
    border-radius: 0.5rem;

    /* make text transparent cut through the background */
    mix-blend-mode: screen;
    color: #000000;
    background: #ffffff;

    /* never shrink smaller than the content */
    flex-shrink: 0;
}

.md-banner__inner .md-banner__text {
    display: inline-block;
    margin-right: 0.5rem;
}

.md-banner__inner .md-banner__text-secondary {
    font-size: 85%;
}

.md-banner__inner .md-banner__desktop-only {
    display: none;

    @media screen and (min-width: 576px) {
        display: inline-block;
    }
}

/*
========================================
Header Styling
========================================
*/

@media screen and (min-width: 76.25em) {
    .md-header__button.mdx-logo {
        display: none;
    }
}

.md-header__button.mdx-logo {
    padding-left: 0;
    margin-left: 0;
}

.md-header__button.mdx-logo img, .md-header__button.mdx-logo svg {
    fill: currentcolor;
    display: block;
    height: 1.2rem;
    width: auto;
}

/*
========================================
Table Styling
========================================
*/

/* Table Borders */
.md-typeset__table th,
.md-typeset__table td {
    border: 0.05rem solid var(--md-typeset-table-color);
}

/* Disable box-shadow */
.md-typeset__table tr {
    box-shadow: none !important;
}

/* Ensure tables don't overflow page on mobile */
.md-typeset__table {
    max-width: 100%;
}

/* Set table background color */
.md-typeset table:not([class]) {
    background-color: var(--md-table-bg-color);
}

/* Set table header background color */
.md-typeset th {
    background-color: var(--md-table-head-color);
}

/* A special wrapper class for tables to make them have less padding */
.use-compact-tables .md-typeset__table table:not([class]) td {
    padding: 0.7em 0.7em;
}

/* A special wrapper class for the kubeflow vs deploykf table */
.comparison-table {

    /* we use fixed `width` percentages for each column */

    table {
        table-layout: fixed;
    }

    /* make the header text bigger */

    th {
        font-size: 110%;
    }

    /* center all text in the table */

    td, th {
        text-align: center !important;
    }

    /* vertical align text in the first column */

    td:first-child {
        vertical-align: middle !important;
    }

    /* top align text in all other columns */

    td {
        vertical-align: top !important;
    }

    /* make <hr> have less margin */

    hr {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    /* style and color comparison icons */

    .comparison-icon {
        font-size: 0.9rem;
    }

    .comparison-icon--yes {
        color: var(--success);
    }

    .comparison-icon--no {
        color: #a9a9a9;
    }
}

/*
========================================
Navigation Styling
========================================
*/

.md-nav--primary > .md-nav__title {
    height: auto;
}

.md-nav--primary > .md-nav__title {
    padding-bottom: 1.0rem;
}

/* add visual separation between nav sections */
@media screen and (min-width: 76.25em) {
    [data-md-color-scheme=default] li.md-nav__item--section.md-nav__item--nested > label:first-of-type {
        padding: 0 0.2em 0.05em 0.2em;
        color: var(--md-primary-fg-color--light) !important;
        border-bottom: 0.1rem dotted var(--md-primary-fg-color--light);
    }

    [data-md-color-scheme=slate] li.md-nav__item--section.md-nav__item--nested > label:first-of-type {
        padding: 0 0.2em 0.05em 0.2em;
        color: var(--md-primary-fg-color--lighter) !important;
        border-bottom: 0.1rem dotted var(--md-primary-fg-color--lighter);
    }
}

/*
========================================
Footer Styling
========================================
*/
.md-footer .md-typeset .footer-link {
    color: var(--md-typeset-a-color);
}

/*
========================================
Button Styling
========================================
*/

a.md-button {
    margin-left: 0.4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/*
========================================
MD Header Styling
========================================
*/

.md-typeset h2 {
    font-weight: 400;
}

/*
========================================
Image Styling
========================================
*/
.image-wrapper {
    text-align: center;
}

.image-caption {
    font-style: italic;
    text-align: center;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 60em) {
    .image-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.image-wrapper img {
    display: inline-block;
    border-radius: 0.3em;
    border: 0.05rem solid var(--md-typeset-table-color);
}

/*
========================================
Star-History Styling
========================================
*/

.star-history_image {
    width: 30rem;
    border-radius: 0.3em;
}

[data-md-color-scheme=default] .star-history_image {
    border: 0.05rem solid var(--md-typeset-table-color);
}

[data-md-color-scheme=slate] .star-history_image {
    opacity: 0.7;
}

/*
========================================
Video Styling
========================================
*/
.video-padding {
    padding-top: 0.5rem;
}

.video-caption {
    font-style: italic;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 60em) {
    .video-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.youtube-video-container {
    position: relative;
    padding-bottom: 56.25%; /* assumes 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 0.3em;
}